form[name='login_form'],
form[name='register_form'] {
  max-width: 35rem;
}

.login-section {
  display: grid;
  place-items: center;
  padding: 5rem 0;
  min-height: calc(100vh - 26rem);
}

.login-section form {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.email-input-wrap,
.password-input-wrap,
.login-wrap,
.name-input-wrap {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.login-section form label {
  color: var(--accent-bg-color);
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.login-section form input[type='email'],
.login-section form input[type='password'],
.login-section form input[type='text'] {
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid var(--accent-bg-color);
  color: var(--accent-bg-color);
}

.login-section form input:focus {
  outline: none;
}

.login-section form input::placeholder {
  color: hsl(0, 0%, 85%);
}

.email-input-wrap {
}
#emailInput {
}
#passwordInput {
}

.login-section .login-wrap {
  align-items: center;
  margin-bottom: 0;
}

.login-wrap p {
  font-size: 0.8rem;
  color: var(--attention-dark-color);
  text-align: center;
}

.login-wrap button {
  cursor: pointer;
  border-radius: 0.4rem;
  border: none;
  background-color: var(--attention-light-color);
  color: var(--accent-bg-color);
  padding: 0.7rem 2rem;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.login-wrap button div {
  display: flex;
  align-items: center;
}

.login-wrap button:hover {
  transition: background-color 0.3s;
  background-color: hsl(42, 100%, 83%);
}

.login-wrap a {
  font-weight: bold;
  text-decoration: none;
  color: var(--accent-bg-color);
}

form div button .spinner {
  background: url('../assets/img/spinnerEllipse.svg');
  background-size: cover;
  height: 1rem;
  width: 1rem;
  margin-bottom: 0;
  margin-left: 1rem;
}

form .form-flash-message-error {
  width: 100%;
  box-sizing: border-box;
  background-color: #f27b74;
  border-radius: 0.4rem;
  position: relative;
  top: -1rem;
  color: #fff;
  text-align: center;
}

form .form-flash-message-msg {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--accent-bg-color);
  border-radius: 0.4rem;
  position: relative;
  top: -1rem;
  color: #fff;
  text-align: center;
}

form[name='add_patient_form'] .form-flash-message-error {
  min-width: 15rem;
  width: 40vw;
  max-width: 35rem;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: #f27b74;
  border-radius: 0;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  z-index: 150;
  position: fixed;
  top: 0;
  margin: auto;
  color: #fff;
  text-align: center;
}

form[name='add_patient_form'] .form-flash-message-msg {
  min-width: 15rem;
  width: 40vw;
  max-width: 35rem;
  padding: 0 1rem;
  margin: auto;
  box-sizing: border-box;
  background-color: var(--accent-bg-color);
  border-radius: 0;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  z-index: 150;
  position: fixed;
  top: 0;
  color: white;
  text-align: center;
}
