@use './scss_modules/colors.scss';
@use './scss_modules/main.scss';

main {
  height: 100%;
}

.section-404 {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.content-404 {
  padding: 4rem 0;
}

.content-404 p {
  font-size: 2rem;
  text-align: center;
  color: colors.$accent-bg-color;
}

.badge-404 {
  background-color: colors.$attention-light-color;
  color: colors.$accent-bg-color;
  text-align: center;
  padding: 2rem 3rem;
  font-size: 5rem;
  border-radius: 0.4rem;
  font-weight: bold;
}
