@use './scss_modules/colors.scss';
@use './scss_modules/main.scss';
@use './scss_modules/form.scss';
@use './scss_modules/patients_form.scss';

.search-add-patient {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  position: relative;
  z-index: 5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.search-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-wrap label {
  color: colors.$accent-bg-color;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.search-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input-wrap .search-icon {
  position: absolute;
  height: 1rem;
  right: -1.3rem;
}

.search-input-wrap input[type='text'] {
  border: none;
  border-bottom: 1px solid colors.$accent-bg-color;
  background-color: colors.$main-bg-color;
  padding: 0.2rem;
  width: 30vw;
  min-width: 12rem;
  max-width: 20rem;
}

.search-input-wrap input[type='text']:focus {
  outline: none;
}

.add-patient-btn {
  position: absolute;
  height: 2.5rem;
  width: 11rem;
  background-color: colors.$accent-bg-color;
  bottom: -2.5rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.cross-icon {
  background-color: colors.$main-bg-color;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-left: 1rem;
}

.cross {
  height: 1rem;
}

.add-patient-btn-text {
  color: colors.$main-bg-color;
  margin: 0 2rem 0 0;
}

.add-a-patient-modal {
  background-color: colors.$accent-bg-color;
  position: fixed;
  top: 0;
  z-index: 101;
  height: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-esc-btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  z-index: 102;
  opacity: 0;
  cursor: pointer;
  display: none;
  opacity: 0;
}

.modal-esc-btn span {
  position: absolute;
  height: 0.3rem;
  width: 2rem;
  border-radius: 0.2rem;
  background-color: colors.$main-bg-color;
}

.modal-esc-btn span:first-child {
  transform: rotate(45deg);
}

.modal-esc-btn span:last-child {
  transform: rotate(-45deg);
}

.patients {
  padding: 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  min-height: calc(100% - 10rem);
  margin: 0;
  padding: 5rem 0;
}
.patient-card {
  background: linear-gradient(
      rgba(255, 250, 238, 0.3) 0%,
      rgba(255, 250, 238, 0.8) 100%
    ),
    url('https://www.transparenttextures.com/patterns/notebook-dark.png');

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 3rem 1.2rem;
}

.patient-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: colors.$accent-bg-color;
}
.patient-content p {
  margin-bottom: 1rem;
}
.patient-info {
}
.patient-picture {
  margin: auto;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  object-fit: cover;
}
.patient-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.patient-action-btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.patient-action-btns button {
  padding: 0.7rem 2rem;
  border-radius: 0.4rem;

  cursor: pointer;
}
.view-log-btn {
  background-color: colors.$accent-bg-color;
  color: colors.$main-bg-color;
  border: none;
}
.delete-btn {
  background-color: colors.$main-bg-color;
  color: colors.$accent-bg-color;
  border: 0.1rem solid colors.$accent-bg-color;
}

@media screen and (min-width: 500px) {
  .patient-card {
    padding: 4rem 5rem;
  }
}

@media screen and (min-width: 700px) {
  .add-patient-btn {
    right: 0;
    top: 50%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transform: translate(1rem, -50%);
    transition: transform 0.5s;
  }

  .add-patient-btn:hover {
    transition: transform 0.5s;
    transform: translate(0, -50%);
  }
}
